@{
    ViewBag.Title = "Audit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

<h2>Select Country</h2>

<select id="countryDropdown" class="form-control">
    <option value="">Select a Country</option>
</select>


<h2>Select City</h2>
<select id="CityDropdown" class="form-control">
    <option value="">Select a City</option>
</select>

<h2>Select Postcode</h2>
<select id="postcodeDropdown" class="form-control">
    <option value="">Select Postcode</option>
</select>

<h2>Select Area</h2>
<select id="areaDropdown" class="form-control">
    <option value="">Select an Area</option>
</select>

<script src="~/assets/js/jquery-3.5.1.js"></script>
<script src="~/assets/js/jquery-ui.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
         function loadCountry() {
         $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCountries", "Home")',
            async: true,
            success: function (data) {
                if (data != null) {

                    var response = (data);

                    if (response.length > 0) {

                        var options = "<option value='-1' selected>...Select Country...</option>";
                        for (i = 0; i < response.length; i++) {
                            var value = response[i].countryId;
                            var text = response[i].countryName;
                            options = options + "<option value='" + value + "'>" + text + "</option>";
                        }
                        $('#countryDropdown').html('');
                        $('#countryDropdown').append(options);
                    }
                    else {
                        $('#countryDropdown').html('');
                        $('#countryDropdown').append("<option value='-1' selected>...Select Country...</option>");
                    }
                }
            },
            failure: function (response) {

                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: response.responseText
                });
            },
            error: function (response) {

                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: 'Something went worng, Please try again'
                });
            }

        });
        }


        function loadCity(countryId) {
            alert("countryId:"+countryId);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCities", "Home")',
            data: { countryId: countryId },
            async: true,
            success: function (data) {
                if (data != null) {
                    var response = (data);

                    if (response.length > 0) {
                        var options = "<option value=''>...Select City...</option>";

                        // Loop through the cities returned from the server
                        for (var i = 0; i < response.length; i++) {
                            var cityId = response[i].cityId;
                            var cityName = response[i].cityName;

                            // Concatenate the option HTML string using the city ID and name
                            options += "<option value='" + cityId + "'>" + cityName + "</option>";
                        }

                        // Clear any existing options in the city dropdown
                        $('#CityDropdown').html(options); // Replace the inner HTML with the new options
                    } else {
                        // If no cities are returned, show a default option
                        $('#CityDropdown').html("<option value=''>...Select City...</option>");
                    }
                }
            },
            failure: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: response.responseText
                });
            },
            error: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: 'Something went wrong, Please try again'
                });
            }
        });
    }

    // Event listener for when a country is selected
        $('#countryDropdown').change(function () {
            alert($(countryDropdown).val());
            var countryId = $(countryDropdown).val(); // Get the selected country name
        if (countryId) {
            loadCity(countryId); // Call the function to load cities based on the selected country name
        } else {
            $('#CityDropdown').html("<option value=''>...Select City...</option>");
        }
    });

@*    loadCountry(); // Load countries when the page loads
    });*@



        function loadPostcode(cityId) {
            alert("cityId:"+ cityId);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetPostcodes", "Home")',
            data: { cityId: cityId },
            async: true,
            success: function (data) {
                if (data != null) {
                    var response = (data);

                    if (response.length > 0) {
                        var options = "<option value=''>...Select Postcode...</option>";

                        // Loop through the postcodes returned from the server
                        for (var i = 0; i < response.length; i++) {
                            var postcodeId = response[i].postcode_Id;
                            var postcode = response[i].postcode;
                            alert("postcodeId:" + postcodeId);
                            // Concatenate the option HTML string using the city ID and name
                            options += "<option value='" + postcodeId + "'>" + postcode + "</option>";

                        }

                        // Clear any existing options in the postcode dropdown
                        $('#postcodeDropdown').html(options); // Replace the inner HTML with the new options
                    } else {
                        // If no cities are returned, show a default option
                        $('#postcodeDropdown').html("<option value=''>...Select Postcode...</option>");
                    }
                }
            },
            failure: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: response.responseText
                });
            },
            error: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: 'Something went wrong, Please try again'
                });
            }
        });
    }


    // Event listener for when a city is selected
        $('#CityDropdown').change(function () {
            alert($(CityDropdown).val());
            var cityId = $(CityDropdown).val();                                  // Get the selected postcode name
        if (cityId) {
            loadPostcode(cityId);                                               // Call the function to load postcodes based on the selected cityname
        } else {
            $('#postcodeDropdown').html("<option value=''>...Select Postcode...</option>");
        }
        });


        function loadArea(postcode_Id) {
            alert("loadArea function called with postcode_Id: :" + postcode_Id);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetArea", "Home")',
            data: { postcode_Id: postcode_Id },
            async: true,
            success: function (data) {
                alert("AJAX success: data received");                                                       // Alert to check if success is hit

                if (data != null) {
                    var response = (data);
                    alert("Data length: " + response.length);                                           // Alert to show number of items received

                    if (response.length > 0) {
                        var options = "<option value=''>...Select Area...</option>";

                        // Loop through the areas returned from the server
                        for (var i = 0; i < response.length; i++) {
                            var areaId = response[i].areaId ;
                            var area = response[i].area;
                            alert("areaId :" + areaId );

                            // Concatenate the option HTML string using the area ID and name
                            options += "<option value='" + areaId + "'>" + area + "</option>";

                        }

                        // Clear any existing options in the area dropdown
                        $('#areaDropdown').html(options);                               // Replace the inner HTML with the new options
                        alert("Dropdown populated with areas.");                       // Alert to confirm dropdown population

                    } else {
                        // If no cities are returned, show a default option
                        $('#areaDropdown').html("<option value=''>...Select Area...</option>");
                        alert("No areas found, default option added."); // Alert if no areas are returned

                    }
                }
            },


            failure: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: response.responseText
                });
            },
            error: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Failed',
                    text: 'Something went wrong, Please try again'
                });
            }
        });
    }


    // Event listener for when a postcode is selected
        $('#postcodeDropdown').change(function () {
            alert($(postcodeDropdown).val());
            var postcode_Id = $(postcodeDropdown).val();             // Get the selected Postcode name
            @*var postcode_Id = $(this).val();*@ // Corrected to use 'this'
            alert("Postcode selected: " + postcode_Id);             // Alert to check the selected postcode ID
            if (postcode_Id) {
            loadArea(postcode_Id);                                  // Call the function to load Areas based on the selected Postcode
        } else {
            $('#areaDropdown').html("<option value=''>...Select Area...</option>");
            alert("No postcode selected, default area option added.");                                              // Alert if no postcode is selected
            }
        });

        loadCountry();                                                                                              // Load countries when the page loads
        alert("Countries loaded on page load.");
    });

</script>
